@model CMS_DTO.CMSCrawler.CMS_CrawlerModels
@using CMS_Shared
@using CMS_Shared.Utilities
<style>
    p{
        margin:10px 0 !important;
    }
</style>
@if (Model != null && Model.Pins != null && Model.Pins.Any())
{
    <div class="form-group">
        @foreach (var item in Model.Pins)
                {
                    var ImageUrl = item.Images != null && item.Images.Count > 0 ? item.Images.FirstOrDefault().url : "";
                    <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom:20px;padding-top:10px;border:1px solid rgba(0,0,0,.1);border-radius:5px !important;height:500px;">
                        <div style="margin-bottom:7px;">
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <a href="@item.Link" target="_blank">
                                    <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236" style="border-radius:5px !important">
                                </a>
                            }
                            else
                            {
                                <a href="https://facebook.com/@item.ID/" target="_blank">
                                    <img src="@ImageUrl" class="img-responsive" alt="@item.Domain" height="236" style="border-radius:5px !important">
                                </a>
                            }
                        </div>
                        <div class="info">
                            <div style="text-align: center;">
                                <table style="background-color:#e9ebee;height:35px;line-height:35px;border-radius:5px !important; margin-bottom: 5px !important; width: 100% ">
                                    <tr>
                                        <td><span style="text-align: left !important; ">@item.reactioncount <i class="fa fa-heart-o" style="font-size:14px;"></i></span></td>
                                        <td><span style="text-align: center !important; ">@item.commentTotalCount <i class="fa fa-commenting-o" style="font-size:14px;"></i></span></td>
                                        <td><span style="text-align: right !important; ">@item.sharecount <i class="fa fa-share-square-o" style="font-size:14px;"></i></span></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="info-domain" style="background-color:#cce5ff;border-radius:5px !important;min-height:50px; margin-bottom: -5px !important; vertical-align: middle; overflow: auto">
                                &nbsp;&nbsp;<a href="@string.Format("{0}",string.IsNullOrEmpty(item.Link) ? "javascript:void(0)" : item.Link)" style="color:#004085;font-weight:bold; text-decoration: none" target="_blank" title="@item.Link">@string.Format("{0}", !string.IsNullOrEmpty(item.OwnerName) && item.OwnerName.Length > 20 ? item.OwnerName.Substring(0, 20) + "..." : item.OwnerName)<span style="vertical-align: super;"><br />&nbsp;&nbsp; @item.Created_At.ToString("dd/MM/yyyy")</span></a>

                            </div>
                            @if (item.Description != null && item.Description.Length > 0)
                            {
                                <div style=" background-color:#d4edda;border-radius:5px !important; margin-bottom: -5px !important; padding-left: 5px; padding-right: 5px;height:100px; overflow: -webkit-paged-x;">
                                    <p>@string.Format("{0}", !string.IsNullOrEmpty(item.Description) && item.Description.Length > 70 ? item.Description.Substring(0, 70) + "..." : item.Description)</p>
                                </div>
                            }
                            <p style="background-color:#f8d7da;height:35px;line-height:35px;border-radius:5px !important;">&nbsp;&nbsp;<span style="color:#721c24;font-weight:bold">@item.UpdateDate.ToString("dd/MM/yyyy") &nbsp; @Html.Raw('-')&nbsp; @item.DayCount <i class="fa fa-clock-o" style="font-size:14px;"></i></span> </p>
                        </div>
                    </div>
        }
    </div>
}

